

<h1>Fill out your application here!</h1>

        <label for="username"><b>Username <br></b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <br><br>

        <label for="is_employed"><b>Are you employed? <br></b></label>
        <select name="is_employed"> 
            <option value="true">Am Employed</option> 
            <option value="false">Not Employed</option> 
        </select>

        <br><br>

        <label for="occupation"><b>If yes, what is your job? <br></b></label>
        <input type="text" placeholder="Enter Occupation here" name="occupation">

        <br><br>

        <label for="home_address"><b>What is your home address?<br></b></label>
        <input type="text" placeholder="Input your address" name="home_address" required>

        <br><br>

        <input type="submit" value="Submit">
