<login>    
    <h1>Login Here!</h1>
    <!--href to login page here-->
    <h2>Need an account? </h2>
        <a href="signup">Sign up here!</a>

        <br>
        <br>
        <label for="uname"><b>Username <br></b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <br><br>

        <label for="psw"><b>Password <br></b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <br><br>

        <input type="submit" value="Submit">

      </form>